* {
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto Flex", sans-serif;
  }
  
  /*container father*/
  
  .container {
    display: grid;
    grid-template-areas:
      "header header"
      " sidebar main"
      "footer footer";
    grid-template-columns: 15% auto;
    height: 100vh;
  }
  /*header e-commerce*/
  .header {
    background-color: #1a5276;
    grid-area: header;
    height: 5em;
    border: solid 1px black;
    height: 5vh;
  }
  
  .header-title {
    text-align: center;
    font-size: medium;
    line-height: 3em;
    color: white;
  }
  
  /*left sidebar*/
  .sidebar {
    background-color: #e5e8e8;
    grid-area: sidebar;
    height: 50,4rem;
    border: solid 1px black;
    padding-top: 1rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1rem;
  }
  
  .textmsb {
    font-size: 2rem;
  }
  
  .textcatalogue {
    font-size: 1rem;
  }
  
  .textcatalogue:hover {
    color: orangered;
  }
  
  /*main content/right side*/
  
  .main {
    background-color: #e5e8e8;
    grid-area: main;
    border: solid 1px black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: white;
    text-align: center;
    justify-content: space-between;
  }
  
  .box img {
    height: 15em;
    width: 15em;
    padding-left: 8em;
  }
  
  .description {
    font-size: 2rem;
  }
  
  .price {
    font-size: 1.3rem;
  }
  
  button {
    padding: 2em;
    background-color: #424949;
    color: whitesmoke;
    text-decoration: none;
  }
  
  button:hover {
    color: orangered;
  }
  
  /*Footer*/
  
  .footer {
    background-color: #1a5276;
    grid-area: footer;
    height: 5em;
    border: solid 1px black;
    height: 5vh;
  }
  
  .footer-text {
    text-align: center;
    font-size: medium;
    line-height: 3em;
    color: white;
  }